// Place all the styles related to the Billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.para-billing{
	font-size: 10px;
}
.img-circle{
	border-radius: 100%;
}
.buy_button.btn{
    font-size: 10px !important;
}